/*.colores{
color: #fceed4;
color: #c9bca3;
color: #fff;

color: #e0d4e2;
color: #aea3b0;
color: #fff;


font-family: 'Alfa Slab One', cursive;
font-family: 'Gothic A1', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Teko', sans-serif;
}*/

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,*::before,*::after{
    box-sizing: inherit;
}

* {
    margin:0px;
    padding:0px;
}
body{
    background-color: #fceed4;
    font-family: 'Roboto', sans-serif;
}

.header {
    position: fixed;
    left: 0;
    top: 0;

    margin-left: auto;
    margin-right: ;
    
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    display: block;
}
			
ul, ol {
    list-style:none;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;    
     }


#f{
    padding-top: 1em;
    padding-left: 57.1rem;
    align-items: center;
}
#i{
    padding-top: 1em;
    padding-left: 0;
    align-items: center;
}

			
.nav li a {
    background-color:#ffebca;
	color:#aea3b0;
    text-decoration:none;
    padding:1.5em 2.87em;
    height: 70px;
    display:block;
    
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
			
.nav li:hover #color{
    background-color:#e0d4e2;
}
.nav li a:hover {
    color: #fff;
}
.nav li ul {
    display:none;
    position:absolute;
    width: 20%;
    min-width:140px;
    }
			
.nav li:hover > ul {
    display:block;
}
			
.nav li ul li {
position:relative;
}
			
.nav li ul li ul {
    right:-140px;
    top:0px;
}

/*
SECCIONES
*/


.contenedor{
    background-color: #fceed4;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12em;
    margin-bottom: 12em;
}
.div-a h1{
    font-family: 'Zilla Slab', serif;
    color: rgb(53, 174, 255);
    font-size: 10em;
}

.div-a p{

    font-family: 'Gothic A1', sans-serif;
    font-weight: 200;
    font-size: 1.5em;
    color: rgb(105, 83, 51);
}

section[id]{
    scroll-margin-top: 100px;
}

section article div{
    margin-top: 130px;
    margin-bottom: 200px
}
section article div h1{
    padding-top: 0.2em;
    padding-left: 1em;
}
section article div p{
    padding-left: 2em;
    padding-bottom: 2.9em;
}
.img-a{
    float: left;
    padding-right: 3em;
}
.principal{
    border-radius:2em;
}
.body-a{
    padding: 2em;
}
.web{
    background-color:rgb(115, 185, 218);
    padding: 1em;
    border-radius: 1rem;
}
.web h1{
    font-family: 'Gothic A1', sans-serif;
    color: #fffdfa;
    font-weight: 600;
    font-size: 3em;
}
.web p{
    font-weight: 200;
    font-size: 1.2em;
    color:#fff;
    padding-left: 1rem;
        margin-bottom: 1em;}
.fa{
    background-color:rgb(115, 185, 218);
    padding: 1em;
    border-radius: 1rem;
}
.fa h1{
    font-family: 'Gothic A1', sans-serif;
    color: #fffdfa;
    font-weight: 600;
    font-size: 3em;
}

.movil{
    background-color:rgb(128, 145, 192);
    padding: 1em;
    border-radius: 1rem;
}
.movil h1{
    font-family: 'Gothic A1', sans-serif;
    color: #fffdfa;
    font-weight: 600;
    font-size: 3em;
}
.movil p{
    font-weight: 200;
    font-size: 1.2em;
    color:#fff;
    padding-left: 1rem;
        margin-bottom: 1em;
}
.software{
    background-color: rgb(91, 172, 111);
    padding: 1em;
    border-radius: 1rem;
}
.software h1{
    font-family: 'Gothic A1', sans-serif;
    color: #fffdfa;
    font-weight: 600;
    font-size: 3em;
}
.software p{
    font-weight: 200;
    font-size: 1.2em;
    color:#fff;
    padding-left: 1rem;
        margin-bottom: 1em;
}

/**/
.card{
    width: 300px;
    height: 430px;
    overflow: hidden;
    background-color: aqua;
    border-radius: 0.5em;
    
}

.body-card{
    margin-top: auto;
    padding: 2em;
}

.body-card h3{
    font-size: 1.2rem;
    font-weight: 900;
}
.body-card p{
    
    font-weight: 300;
}
.c article{
display: inline-block;
margin-right: 0.3rem;
}
/**/

footer p{
    text-align: center;
    color: #c9bca3;
    margin-bottom: auto;
}


/*PAG ABOUT*/
section article div #abouth{
    font-size: 4rem;
    padding-top: 0;
    padding-top: 0;
    padding-left: 1em;
}
section article div #aboutp{
    padding-top: 2em;
    padding-left: 2em;
    padding-bottom: 3.5em;
    font-weight: 300;
}
section article #div-aa{
    margin-top: 30px;
    margin-bottom: 200px
}
/**/
.correo{
    display: inline-block;
    text-decoration: none;
    background-color: rgb(247, 145, 104);
    padding: 1em;
    margin: 0 0.5 0 0;
    font-size: 1.2rem;
    border-radius: 0.3em;
    color: #3a352d;
    background-color: rgb(253, 255, 152);
    font-weight: 600;
    }
  /* TIMELINE
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .timeline ul li {
    width: 2px;
    padding-top: 50px;
    background: #fff;
  }

  .timeline ul li div {
    position: static;
    bottom: 0;
    width: 600px;
    padding: 15px;
    background: #faf0f1;
  }    


/**/

/*PAG TECNO*/

.contenedorT{
    background-color: #fceed4;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8.5em;
    margin-bottom: 4.5em;
}

.leng{
    background-color:rgb(87, 125, 156);
    padding: 1em;
    border-radius: 1rem;
}
.leng h1{
    font-family: 'Gothic A1', sans-serif;
    color: #fffdfa;
    font-weight: 600;
    font-size: 3em;
}
.leng p{
    font-weight: 300;
    font-size: 1.2em;
    color:#fff;
    padding-left: 1rem;
    margin-top: 1em;
        margin-bottom: 2em;}
        
.tool{
    background-color:rgb(99, 98, 145);
    padding: 1em;
    border-radius: 1rem;
}
.tool h1{
    font-family: 'Gothic A1', sans-serif;
    color: #fffdfa;
    font-weight: 600;
    font-size: 3em;
}
.tool p{
    font-weight: 300;
    font-size: 1.2em;
    color:#fff;
    padding-left: 1rem;
    margin-top: 1em;
        margin-bottom: 2em;;
}
.cardT{
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 1rem;
    
}

.body-cardT{
    margin-top: 0;
    padding: 0.1em;
}

.body-cardT h3{
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}
#lengs article{
background-color: #f8ffb5;
}
#tools article{
background-color: #d3ffb7;
}
/**/